.link {



  &-after::after{
    content: "";
    position: absolute;
    background-image: url("./../public/icons/arrow.svg");
    width: 12px;
    height: 10px;
    top:5px;
    right: 0;
  }
  &-before::before{
    content: "";
    position: absolute;
    background-image: url("./../public/icons/arrow.svg");
    transform: rotateY(180deg);
    width: 12px;
    height: 10px;
    top:5px;
    left: 0;
  }
}

