.link {
  font-weight: 700;
  text-decoration: none;
  color: black;
  padding-right:18px;
  position: relative;


  &::after{
    content: "";
    position: absolute;
    background-image: url("./../public/icons/arrow.svg");
    width: 12px;
    height: 10px;
    top:5px;
    right: 0;
  }
}

footer{
  padding-bottom: 40px;
}